@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.home {
  background-size: cover;
  background-color: rgb(0, 0, 0);
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img, video {
  height: auto;
  width: 100%;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: #fff;
  background-color: red;
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  justify-content: center;
  background-color: #002431;
  color: #fff;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

.btn:hover {
  color: #002431;
  background: #fff;
}

.loginpage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.loginpage img {
  position: absolute;
  height: 100vh;
  opacity: 0.6;
}
.loginpage .container {
  height: 75vh;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  background: #00b3f1;
  position: relative;
}
.loginpage .container .text {
  width: 55%;
  height: 75vh;
  margin: auto;
  background-color: #ffffff;
  border-radius: 9px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.loginpage .container .text .logo {
  margin: auto;
  margin-top: -30px;
  height: 90%;
  width: 100%;
  display: flex;
  position: relative;
}
.loginpage .container .text .logo img {
  opacity: 10;
  position: relative;
  height: auto;
}
.loginpage .container .text .slogan {
  margin-top: -70px;
}
.loginpage .container .text .slogan p {
  font-size: 35px;
  text-align: center;
  margin: auto;
  font-weight: 600;
  font-family: "Montserrat" sans-serif;
}
.loginpage .container .formDiv {
  flex-basis: 50%;
  margin: auto;
  flex-direction: column;
  gap: 2.5rem;
  transform: translateY(-1rem);
  color: #fff;
  font-size: 40px;
  outline: none;
}
.loginpage .container .formDiv .headerDiv {
  text-align: center;
}
.loginpage .container .formDiv .headerDiv h1 {
  font-size: 50px;
}
.loginpage .container .formDiv .form {
  gap: 1rem;
}
.loginpage .container .formDiv .form .inputDiv {
  width: 150%;
  padding-right: 11rem;
}
.loginpage .container .formDiv .form .inputDiv input {
  width: 95%;
  border: none;
  height: 8vh;
  border-radius: 5px;
  outline: none;
  padding: 0 15px;
}
.loginpage .container .formDiv .form .inputDiv ::-moz-placeholder {
  padding: 0 7.5px;
}
.loginpage .container .formDiv .form .inputDiv ::placeholder {
  padding: 0 7.5px;
}
.loginpage .container .formDiv .form .link {
  margin: auto;
  margin-top: 0.2rem;
  font-size: 13px;
  font-weight: 500;
}
.loginpage .container .formDiv .form .link a {
  font-weight: 600;
  color: #fff;
  transition: 0.5s ease;
}
.loginpage .container .formDiv .form .link :hover {
  color: #002431;
}
.loginpage .container .formDiv .forgotpass {
  font-size: 12px;
  margin-left: 16rem;
  cursor: pointer;
}
.loginpage .container .formDiv .forgotpass :hover {
  color: #002431;
  transition: 0.7s ease;
}

.backToLogin {
  cursor: pointer;
  color: #ffffff;
  margin-top: 10px;
  font-size: 14px;
}

.backToLogin:hover {
  text-decoration: underline;
}

@media screen and (max-width: 702px) {
  .loginpage {
    height: auto;
  }
  .loginpage .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }
  .loginpage .container .text {
    width: 100%;
    margin: 2.5rem 0;
    border-radius: 5px;
  }
  .loginpage .container .text .logo {
    width: 100%;
    font-size: 15px;
  }
  .loginpage .container .formDiv {
    gap: 1rem;
    transform: translateY(-0.5rem);
  }
  .loginpage .container .formDiv .headerDiv {
    padding: 1rem 0;
  }
  .loginpage .container .formDiv .form {
    gap: 0.5rem;
  }
  .loginpage .container .formDiv .inputDiv .input {
    width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .loginpage .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }
  .loginpage .container .text {
    width: 100%;
    margin: 2.5rem 0;
    border-radius: 5px;
  }
  .loginpage .container .text .logo {
    width: 100%;
    font-size: 15px;
  }
  .loginpage .container .formDiv {
    gap: 1rem;
    transform: translateY(-0.5rem);
  }
  .loginpage .container .formDiv .headerDiv {
    padding: 1rem 0;
  }
  .loginpage .container .formDiv .form {
    gap: 0.5rem;
  }
  .loginpage .container .formDiv .inputDiv .input {
    width: 100%;
  }
}
@media screen and (max-width: 902px) {
  .loginpage {
    height: auto;
  }
  .loginpage .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }
  .loginpage .container .text {
    border-radius: 5px;
  }
  .loginpage .container .formDiv {
    gap: 1rem;
    transform: translateY(-0.5rem);
  }
  .loginpage .container .formDiv .headerDiv {
    padding: 1rem 0;
  }
  .loginpage .container .formDiv .form {
    gap: 0.5rem;
  }
  .loginpage .container .formDiv .inputDiv .input {
    width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .loginpage {
    height: auto;
  }
  .loginpage .container .text .logo {
    width: 100%;
  }
  .loginpage .container .formDiv .form .inputDiv {
    width: 150%;
    margin-left: 0.1rem;
  }
}
.backgr {
  background-image: url("../src/assets/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.registration {
  padding: 1rem 0;
  display: flex;
  height: auto;
  width: 100%;
  padding: 20px;
  justify-content: center;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
  align-items: center;
  position: relative;
}

.box {
  display: flex;
  height: auto;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  border-radius: 16px;
  background: #00b3f1;
  align-items: center;
  z-index: 1;
  margin-bottom: 10rem;
}
.box .form {
  color: #fff;
  margin: auto;
  align-items: center;
}
.box .form .input .notice {
  font-size: 12px;
  color: rgb(241, 241, 241);
}
.box .form .input .notice span {
  color: rgb(180, 0, 0);
  font-size: 15px;
}
.box .form .input input {
  width: 100%;
  height: 6vh;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 30px;
}
.box .form .input ::-moz-placeholder {
  font-size: 13px;
}
.box .form .input ::placeholder {
  font-size: 13px;
}
.box .form .column {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.box .form header {
  font-size: 25px;
  font-weight: 525;
  margin-top: 2rem;
}
.box .form .passh5 {
  font-size: 15px;
  font-weight: 300;
  padding: 2px 0;
  margin-bottom: -10px;
}
.box .form .column .input {
  width: 100%;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.box .form .passwords {
  display: flex;
  justify-content: space-between;
}
.box .form .passwords .strength {
  font-weight: 400;
  font-size: 12px;
  margin-top: 3px;
}
.box .form .password-input {
  position: relative;
}
.box .form .password-input input[type=checkbox] {
  position: absolute;
  left: 60px; /* Adjust based on your design */
  top: 50%;
  transform: translateY(-59%);
}
.box .form .sex-box h3 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 0.8rem;
  color: rgb(245, 239, 235);
  margin-bottom: 2px;
}
.box .form .sex-box .sex-option {
  display: flex;
  margin: 1rem 0;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-top: -0.8px;
}
.box .form .sex-box .sex-option .sex input {
  color-scheme: 1rem;
  cursor: pointer;
  accent-color: #002431;
}
.box .form .sex-box .sex-option .sex label {
  margin: 0 0.5rem;
}
.box .form .businessdocs h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: 14px;
  font-weight: 560;
}
.box .form .businessdocs .filed {
  margin-top: 5px;
}
.box .form .businessdocs .filed input {
  border: 1px solid #fff;
  height: 6vh;
  width: 100%;
  padding: 9px 9px;
  background-color: #fff;
  border-radius: 8px;
  outline: none;
  color: #002431;
}
.box .form .button {
  width: 100%;
  height: 39px;
  margin-top: 0.7rem;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  outline: none;
  border: none;
  transition: all 0.5s ease;
  background: #002431;
}
.box .form button:hover {
  background: #fff;
  color: #002431;
}
.box .form footer {
  margin-top: 16px;
  margin-bottom: 2rem;
  text-align: center;
}
.box .form footer a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 580;
  transition: 0.5s ease;
}
.box .form footer a:hover {
  color: #002431;
}

@media screen and (max-width: 500px) {
  .form {
    width: 100%;
  }
  .column .input {
    flex-wrap: wrap;
  }
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.sex-option, .sex) {
    row-gap: 15px;
  }
}
head {
  width: 100%;
  color: #00b3f1;
}/*# sourceMappingURL=App.css.map */