.loginpage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.loginpage img {
  position: absolute;
  height: 100vh;
  opacity: 0.6;
}
.loginpage .container {
  height: 75vh;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  background: #00b3f1;
  position: relative;
}
.loginpage .container .text {
  width: 55%;
  height: 75vh;
  margin: auto;
  background-color: #ffffff;
  border-radius: 9px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.loginpage .container .text .logo {
  margin: auto;
  margin-top: -30px;
  height: 90%;
  width: 100%;
  display: flex;
  position: relative;
}
.loginpage .container .text .logo img {
  opacity: 10;
  position: relative;
  height: auto;
}
.loginpage .container .text .slogan {
  margin-top: -70px;
}
.loginpage .container .text .slogan p {
  font-size: 35px;
  text-align: center;
  margin: auto;
  font-weight: 600;
  font-family: "Montserrat" sans-serif;
}
.loginpage .container .formDiv {
  flex-basis: 50%;
  margin: auto;
  flex-direction: column;
  gap: 2.5rem;
  transform: translateY(-1rem);
  color: #fff;
  font-size: 40px;
  outline: none;
}
.loginpage .container .formDiv .headerDiv {
  text-align: center;
}
.loginpage .container .formDiv .headerDiv h1 {
  font-size: 50px;
}
.loginpage .container .formDiv .form {
  gap: 1rem;
}
.loginpage .container .formDiv .form .inputDiv {
  width: 150%;
  padding-right: 11rem;
}
.loginpage .container .formDiv .form .inputDiv input {
  width: 95%;
  border: none;
  height: 8vh;
  border-radius: 5px;
  outline: none;
  padding: 0 15px;
}
.loginpage .container .formDiv .form .inputDiv ::-moz-placeholder {
  padding: 0 7.5px;
}
.loginpage .container .formDiv .form .inputDiv ::placeholder {
  padding: 0 7.5px;
}
.loginpage .container .formDiv .form .link {
  margin: auto;
  margin-top: 0.2rem;
  font-size: 13px;
  font-weight: 500;
}
.loginpage .container .formDiv .form .link a {
  font-weight: 600;
  color: #fff;
  transition: 0.5s ease;
}
.loginpage .container .formDiv .form .link :hover {
  color: #002431;
}

@media screen and (max-width: 702px) {
  .loginpage {
    height: auto;
  }
  .loginpage .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }
  .loginpage .container .text {
    width: 100%;
    margin: 2.5rem 0;
    border-radius: 5px;
  }
  .loginpage .container .text .logo {
    width: 100%;
    font-size: 15px;
  }
  .loginpage .container .formDiv {
    gap: 1rem;
    transform: translateY(-0.5rem);
  }
  .loginpage .container .formDiv .headerDiv {
    padding: 1rem 0;
  }
  .loginpage .container .formDiv .form {
    gap: 0.5rem;
  }
  .loginpage .container .formDiv .inputDiv .input {
    width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .loginpage .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }
  .loginpage .container .text {
    width: 100%;
    margin: 2.5rem 0;
    border-radius: 5px;
  }
  .loginpage .container .text .logo {
    width: 100%;
    font-size: 15px;
  }
  .loginpage .container .formDiv {
    gap: 1rem;
    transform: translateY(-0.5rem);
  }
  .loginpage .container .formDiv .headerDiv {
    padding: 1rem 0;
  }
  .loginpage .container .formDiv .form {
    gap: 0.5rem;
  }
  .loginpage .container .formDiv .inputDiv .input {
    width: 100%;
  }
}
@media screen and (max-width: 902px) {
  .loginpage {
    height: auto;
  }
  .loginpage .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }
  .loginpage .container .text {
    border-radius: 5px;
  }
  .loginpage .container .formDiv {
    gap: 1rem;
    transform: translateY(-0.5rem);
  }
  .loginpage .container .formDiv .headerDiv {
    padding: 1rem 0;
  }
  .loginpage .container .formDiv .form {
    gap: 0.5rem;
  }
  .loginpage .container .formDiv .inputDiv .input {
    width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .loginpage {
    height: auto;
  }
  .loginpage .container .text .logo {
    width: 100%;
  }
  .loginpage .container .formDiv .form .inputDiv {
    width: 150%;
    margin-left: 0.1rem;
  }
}/*# sourceMappingURL=adminlogin.css.map */